@font-face
	font-family 'ScratchmybackRegular'
	src url('/fonts/scratchm/SCRATCHM-webfont.eot')
	src url('/fonts/scratchm/SCRATCHM-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/scratchm/SCRATCHM-webfont.woff') format('woff'), url('/fonts/scratchm/SCRATCHM-webfont.ttf') format('truetype'), url('/fonts/scratchm/SCRATCHM-webfont.svg#ScratchmybackRegular') format('svg')
	font-weight normal
	font-style normal