/* =============================================================================
	 Colors
	 ========================================================================== */

/* Colors for form validity */
input-invalid = white

/* Links */
a-color = #00e
a-visited = #551a8b
a-hover = #06e

/* Selection */
selection-bg = #fe57a1
selection-color = #fff
selection-text-shadow = none

/* =============================================================================
	 Colors
	 ========================================================================== */

/* html, button, input, select, textarea */
font = sans-serif
font-color = #222

/*
	Grid
*/

width-1-col = 80px
width-2-col = width-1-col * 2
width-3-col = width-1-col * 3
width-4-col = width-1-col * 4
width-5-col = width-1-col * 5
width-6-col = width-1-col * 6
width-7-col = width-1-col * 7
width-8-col = width-1-col * 8
