.user.profile
	header
		background-color white
		box-shadow 0 1px 10px rgba(0, 0, 0, 0.25)
		box-sizing border-box
		padding 5px 20px
		position fixed
		width 100%

		.btn-logout
			background url('/img/logout.png') no-repeat
			height 20px
			transition all 0.5s ease-in-out
			width @height

			&:hover
				transform rotate(-180deg)

	div[role="main"]
		padding 20px
		padding-top 50px

		.box
			box-sizing border-box
			box-shadow 0 1px 10px rgba(0,0,0,0.25)
			border-radius 5px
			float left
			padding 10px
			margin-bottom col-1

		.menu
			margin-right col-1
			width 25%

		.content
			width 72%

@media only screen and (max-width: 720px)
	.user.profile
		div[role="main"]
			.menu
				width 100%
			.content
				width 100%