.home
	header
	div(role="main")
		cl = ''
		ev = ''
		if(logged)
			cl = 'disabled'
			ev = 'return false'
		.welcome
			a(href="/login").ico.user
			a(href="/register", class=cl, onclick=ev).ico.new-user
			a(href="/coupon", class=cl, onclick=ev).ico.coupon
	footer