.user
	header
		a.ico.home(href="/")
	div(role="main")
		.modal-container
			.modal-backdrop
				.modal
					h3
						span.ico.leaf
						|Clap Admin
					a.ico.user(href="/login")
					if msg
						p error :(
					form(method="post", data-app="form", action="/register")
						div	
							span.ico.user
							input(type="text", name="username", placeholder="username", required)
						div
							span.ico.contact-card
							input(type="email", name="email", placeholder="email", value=locals.email, required)		
						div
							span.ico.lock
							input(type="password", name="password", placeholder="password", required)
						div
							span.ico.link
							input(type="text", name="coupon", placeholder="coupon", value=locals.coupon, required)		
						div
							input(type="submit", value="create user").button
	footer