.user.profile
	header
		a.ico.upload-cloud(title="new app")
		a.ico.list(title="list")
		a.ico.image-list(title="list")
		a.ico.settings(title="settings")
		//a.ico.help.right(title="help") 
		a.ico.logout.right(href="/logout/")
		.clearfix

