.user.profile
	header#fixed
		a.ico.upload-cloud(href="/apps/new", title="new app")
		a.ico.list(title="list")
		a.ico.image-list(title="list")
		a.ico.settings(title="settings")
		//a.ico.help.right(title="help") 
		a.ico.logout.right(href="/logout/")
		.clearfix
	div(role="main")
		block content
	footer
		

