extends base
block content
	a(name="list")
	.box.list-apps
		h3 your apps
		ul
		each app, i in locals.apps
			li 
				span.ico.leaf
				!=app.name
		//div= locals
	.box
		a(name="new")
		h3 create cluster app
		form(method="post", data-app="form")
			div	
				span.ico.document
				input(type="text", name="app_name", placeholder="app name", required)
			div(style="text-align: left;")
				span.ico.circles
				input(type="text", name="domain", placeholder="domain", required, style="width:80%;")
				span(style="vertical-align: middle;") .clap.io
			div
				span.ico.git
				input(type="text", name="git", placeholder="git", required)
			div
				| . . .
			div
				span.ico.play
				input(type="text", name="master_start", placeholder="master start script", required)
			div(style="text-align: left;")
				span.ico.play
				input(type="text", name="node_start", placeholder="node start script", style="width:80%;")
				input.right(type="text", name="node_nums", placeholder="domain", value="1", style="width:18%;")							
			div.clearfix
			div
				input(type="submit", value="create").button					
	.box
		a(name="new")
		h3 create simple app
		form(method="post", data-app="form")
			div	
				span.ico.document
				input(type="text", name="app_name", placeholder="app name", required)
			div
				span.ico.git
				input(type="text", name="git", placeholder="git", required)
			div
				span.ico.play
				input(type="text", name="start", placeholder="start script", required)				
			div(style="text-align: left;")
				span.ico.circles
				input(type="text", name="domain", placeholder="domain", required, style="width:80%;")
				span(style="vertical-align: middle;") .clap.io
			div.clearfix
			div
				input(type="submit", value="create").button	