.user.profile
	header
		a.right.btn-logout(href="/logout")
		.clearfix
	div(role="main")
		.box.menu
			h3 your apps
			each app in data.apps
				div
					h5= app.name
		.box.content
			h3 app
			p hola
			p hola
			p hola
			p hola
			p hola
	footer
	footer