.user.profile
	header
		a.right.btn-logout(href="/logout")
		.clearfix
	div(role="main")
		.box.grid-4
			table
				thead
					tr
						td Name
						td State
						td Domain
				tbody
					each app in data.apps
						tr
							td= app.name
							td= app.state
							td= app.domain
	footer