/* =============================================================================
	 Colors
	 ========================================================================== */

/* Colors for form validity */
input-invalid = #f0dddd

/* Links */
a-color = #00e
a-visited = #551a8b
a-hover = #06e

/* Selection */
selection-bg = #fe57a1
selection-color = #fff
selection-text-shadow = none

/* =============================================================================
	 Colors
	 ========================================================================== */

/* html, button, input, select, textarea */
font = sans-serif
font-color = #222